### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [110]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [111]:
total_schools = school_data["school_name"].size
total_students = school_data_complete["student_name"].size
total_budget = school_data["budget"].sum()
avg_math_score = student_data["math_score"].mean()
avg_reading_score = student_data["reading_score"].mean()
total_math_passed = student_data.loc[student_data["math_score"] >= 70]
total_math_passed = total_math_passed["math_score"].size
total_reading_passed = student_data.loc[student_data["reading_score"] >= 70]
total_reading_passed = total_reading_passed["reading_score"].size
#gets all students that passed both
total_all_passed = student_data.loc[(student_data["reading_score"] >= 70) & (student_data["math_score"] >= 70)]
#gets size
total_all_passed = total_all_passed[["math_score","reading_score"]].size
#divides by 2 since 2 values were passed in size fetch to return total num
total_all_passed = total_all_passed/2

percent_math_pass = (total_math_passed/total_students)*100
percent_reading_pass = (total_reading_passed/total_students)*100
percent_all_pass = (total_all_passed/total_students)*100

summaryDF = pd.DataFrame([{
    "Total Schools": total_schools,
    "Total Students": total_students,
    "Total Budget": total_budget,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_reading_score,
    "Percentage Passed Math": percent_math_pass,
    "Percentage Passed Reading": percent_reading_pass,
    "Overall Passed": percent_all_pass
}])
print(summaryDF)

   Total Schools  Total Students  Total Budget  Average Math Score  \
0             15           39170      24649428           78.985371

   Average Reading Score  Percentage Passed Math  Percentage Passed Reading  \
0               81.87784               74.980853                  85.805463

   Overall Passed
0       65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [112]:
#group by school
school_group = school_data_complete.groupby("school_name")
students_by_school = school_group["student_name"].count()
school_type = school_group["type"]
school_type = school_type.unique()

school_budget = school_group["budget"].unique()
school_budget_per_student = school_budget/students_by_school

average_math_per_school = school_group["math_score"].mean()
average_reading_per_school = school_group["reading_score"].mean()




bins = [70, 100]

acedemicscores = school_data_complete[["math_score", "reading_score","student_name","school_name"]]
acedemicscores["passed_math"] = pd.cut(acedemicscores["math_score"], bins,  include_lowest=False)
acedemicscores["passed_reading"] = pd.cut(acedemicscores["reading_score"], bins,  include_lowest=False)
acedemicscores = acedemicscores.groupby("school_name")
math_passed_per_school = acedemicscores["passed_math"].count()
reading_passed_per_school = acedemicscores["passed_reading"].count()



# math_passed_per_school = math_passed_per_school.value_counts(bins=bins)

# reading_passed_per_school = reading_passed_per_school.value_counts(bins=bins)

# both_passed_per_school = acedemicscores[["student_name", "passed_math", "passed_reading"]]

both_passed_per_school = acedemicscores[["passed_math", "passed_reading"]].count()
both_passed_per_school = both_passed_per_school/2
both_passed_per_school = both_passed_per_school["passed_math"].add(both_passed_per_school["passed_reading"])

percent_math_passed_per_school = (math_passed_per_school/students_by_school)*100
percent_reading_passed_per_school = (reading_passed_per_school/students_by_school)*100
percent_both_passed_per_school = (both_passed_per_school/students_by_school)*100

percent_math_passed_per_school = percent_math_passed_per_school.rename("math percentage")

percent_reading_passed_per_school = percent_reading_passed_per_school.rename("reading percentage")


summary_by_schoolDF = pd.merge(school_type,school_budget, "outer", left_on="school_name", right_index=True)
summary_by_schoolDF = summary_by_schoolDF.merge(students_by_school.rename("total students"), "outer", right_on="school_name",
                                                left_index=True)
summary_by_schoolDF = summary_by_schoolDF.merge(school_budget_per_student.rename("budget/student"), "outer",
                                                right_on="school_name", left_index=True)
summary_by_schoolDF = summary_by_schoolDF.merge(average_math_per_school.rename("Average Math Score"), "outer", right_on="school_name",
                                                left_index=True)
summary_by_schoolDF = summary_by_schoolDF.merge(average_reading_per_school.rename("Average Reading Score"),
                                                "outer", right_on="school_name", left_index=True)
summary_by_schoolDF = summary_by_schoolDF.merge(percent_math_passed_per_school.rename("% passed math"),
                                                "outer", right_on="school_name", left_index=True)
summary_by_schoolDF = summary_by_schoolDF.merge(percent_reading_passed_per_school.rename("% passed reading"),
                                                "outer", right_on="school_name", left_index=True)
summary_by_schoolDF = summary_by_schoolDF.merge(percent_both_passed_per_school.rename("% passed both"),
                                                "outer", right_on="school_name", left_index=True)
print(summary_by_schoolDF)

                             type     budget  total students budget/student  \
school_name
Bailey High School     [District]  [3124928]            4976        [628.0]
Cabrera High School     [Charter]  [1081356]            1858        [582.0]
Figueroa High School   [District]  [1884411]            2949        [639.0]
Ford High School       [District]  [1763916]            2739        [644.0]
Griffin High School     [Charter]   [917500]            1468        [625.0]
Hernandez High School  [District]  [3022020]            4635        [652.0]
Holden High School      [Charter]   [248087]             427        [581.0]
Huang High School      [District]  [1910635]            2917        [655.0]
Johnson High School    [District]  [3094650]            4761        [650.0]
Pena High School        [Charter]   [585858]             962        [609.0]
Rodriguez High School  [District]  [2547363]            3999        [637.0]
Shelton High School     [Charter]  [1056600]            1761        [600.0]
Thomas High School      [Charter]  [1043130]            1635        [638.0]
Wilson High School      [Charter]  [1319574]            2283        [578.0]
Wright High School      [Charter]  [1049400]            1800        [583.0]

                       Average Math Score  Average Reading Score  \
school_name
Bailey High School              77.048432              81.033963
Cabrera High School             83.061895              83.975780
Figueroa High School            76.711767              81.158020
Ford High School                77.102592              80.746258
Griffin High School             83.351499              83.816757
Hernandez High School           77.289752              80.934412
Holden High School              83.803279              83.814988
Huang High School               76.629414              81.182722
Johnson High School             77.072464              80.966394
Pena High School                83.839917              84.044699
Rodriguez High School           76.842711              80.744686
Shelton High School             83.359455              83.725724
Thomas High School              83.418349              83.848930
Wilson High School              83.274201              83.989488
Wright High School              83.682222              83.955000

                       % passed math  % passed reading  % passed both
school_name
Bailey High School         64.630225         79.300643      71.965434
Cabrera High School        89.558665         93.864370      91.711518
Figueroa High School       63.750424         78.433367      71.091896
Ford High School           65.753925         77.510040      71.631982
Griffin High School        89.713896         93.392371      91.553134
Hernandez High School      64.746494         78.187702      71.467098
Holden High School         90.632319         92.740047      91.686183
Huang High School          63.318478         78.813850      71.066164
Johnson High School        63.852132         78.281874      71.067003
Pena High School           91.683992         92.203742      91.943867
Rodriguez High School      64.066017         77.744436      70.905226
Shelton High School        89.892107         92.617831      91.254969
Thomas High School         90.214067         92.905199      91.559633
Wilson High School         90.932983         93.254490      92.093736
Wright High School         90.277778         93.444444      91.861111

<ipython-input-112-c498f4b2e18a>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acedemicscores["passed_math"] = pd.cut(acedemicscores["math_score"], bins,  include_lowest=False)
<ipython-input-112-c498f4b2e18a>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acedemicscores["passed_reading"] = pd.cut(acedemicscores["reading_score"], bins,  include_lowest=False)

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [113]:
top_performers = percent_both_passed_per_school.sort_values(ascending=False).head(5)

print(top_performers)

school_name
Wilson High School     92.093736
Pena High School       91.943867
Wright High School     91.861111
Cabrera High School    91.711518
Holden High School     91.686183
dtype: float64

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [114]:
worst_performers = percent_both_passed_per_school.sort_values(ascending=True).head(5)


print(worst_performers)

school_name
Rodriguez High School    70.905226
Huang High School        71.066164
Johnson High School      71.067003
Figueroa High School     71.091896
Hernandez High School    71.467098
dtype: float64

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [115]:
grade_data = student_data[["grade", "math_score", "reading_score", "school_name"]]

grade9 = grade_data.loc[student_data["grade"] == "9th"]
grade10 = grade_data.loc[student_data["grade"] == "10th"]
grade11 = grade_data.loc[student_data["grade"] == "11th"]
grade12 = grade_data.loc[student_data["grade"] == "12th"]

group9 = grade9.groupby("school_name")
group10 = grade10.groupby("school_name")
group11 = grade11.groupby("school_name")
group12 = grade12.groupby("school_name")

group9_math = group9["math_score"].mean()
group10_math = group10["math_score"].mean()
group11_math = group11["math_score"].mean()
group12_math = group12["math_score"].mean()

group9_math = group9_math.drop(columns="reading_score")
group10_math = group10_math.drop(columns="reading_score")
group11_math = group11_math.drop(columns="reading_score")
group12_math = group12_math.drop(columns="reading_score")

math_gradedf = pd.merge(group9_math,group10_math, "outer", left_on="school_name",right_index=True)
math_gradedf = math_gradedf.rename(columns={"math_score_x":"9th grade avg math scores" , "math_score_y":"10th grade avg math scores"})
math_gradedf = math_gradedf.merge(group11_math, "outer", left_on="school_name",right_index=True)
math_gradedf = math_gradedf.rename(columns={"math_score":"11th grade avg math scores"})
math_gradedf = math_gradedf.merge(group12_math, "outer", left_on="school_name",right_index=True)
math_gradedf = math_gradedf.rename(columns={"math_score":"12th grade avg math scores" })
print(math_gradedf)

                       9th grade avg math scores  10th grade avg math scores  \
school_name
Bailey High School                     77.083676                   76.996772
Cabrera High School                    83.094697                   83.154506
Figueroa High School                   76.403037                   76.539974
Ford High School                       77.361345                   77.672316
Griffin High School                    82.044010                   84.229064
Hernandez High School                  77.438495                   77.337408
Holden High School                     83.787402                   83.429825
Huang High School                      77.027251                   75.908735
Johnson High School                    77.187857                   76.691117
Pena High School                       83.625455                   83.372000
Rodriguez High School                  76.859966                   76.612500
Shelton High School                    83.420755                   82.917411
Thomas High School                     83.590022                   83.087886
Wilson High School                     83.085578                   83.724422
Wright High School                     83.264706                   84.010288

                       11th grade avg math scores  12th grade avg math scores
school_name
Bailey High School                      77.515588                   76.492218
Cabrera High School                     82.765560                   83.277487
Figueroa High School                    76.884344                   77.151369
Ford High School                        76.918058                   76.179963
Griffin High School                     83.842105                   83.356164
Hernandez High School                   77.136029                   77.186567
Holden High School                      85.000000                   82.855422
Huang High School                       76.446602                   77.225641
Johnson High School                     77.491653                   76.863248
Pena High School                        84.328125                   84.121547
Rodriguez High School                   76.395626                   77.690748
Shelton High School                     83.383495                   83.778976
Thomas High School                      83.498795                   83.497041
Wilson High School                      83.195326                   83.035794
Wright High School                      83.836782                   83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [116]:
group9_reading = group9["reading_score"].mean()
group10_reading = group10["reading_score"].mean()
group11_reading = group11["reading_score"].mean()
group12_reading = group12["reading_score"].mean()

group9_reading = group9_reading.drop(columns="math_score")
group10_reading = group10_reading.drop(columns="math_score")
group11_reading = group11_reading.drop(columns="math_score")
group12_reading = group12_reading.drop(columns="math_score")

read_gradedf = pd.merge(group9_reading,group10_reading, "outer", left_on="school_name",right_index=True)
read_gradedf = read_gradedf.rename(columns={"reading_score_x":"9th grade avg reading scores" , "reading_score_y":"10th grade avg reading scores"})
read_gradedf = read_gradedf.merge(group11_reading, "outer", left_on="school_name",right_index=True)
read_gradedf = read_gradedf.rename(columns={"reading_score":"11th grade avg reading scores"})
read_gradedf = read_gradedf.merge(group12_reading, "outer", left_on="school_name",right_index=True)
read_gradedf = read_gradedf.rename(columns={"reading_score":"12th grade avg reading scores" })
print(read_gradedf)

                       9th grade avg reading scores  \
school_name
Bailey High School                        81.303155
Cabrera High School                       83.676136
Figueroa High School                      81.198598
Ford High School                          80.632653
Griffin High School                       83.369193
Hernandez High School                     80.866860
Holden High School                        83.677165
Huang High School                         81.290284
Johnson High School                       81.260714
Pena High School                          83.807273
Rodriguez High School                     80.993127
Shelton High School                       84.122642
Thomas High School                        83.728850
Wilson High School                        83.939778
Wright High School                        83.833333

                       10th grade avg reading scores  \
school_name
Bailey High School                         80.907183
Cabrera High School                        84.253219
Figueroa High School                       81.408912
Ford High School                           81.262712
Griffin High School                        83.706897
Hernandez High School                      80.660147
Holden High School                         83.324561
Huang High School                          81.512386
Johnson High School                        80.773431
Pena High School                           83.612000
Rodriguez High School                      80.629808
Shelton High School                        83.441964
Thomas High School                         84.254157
Wilson High School                         84.021452
Wright High School                         83.812757

                       11th grade avg reading scores  \
school_name
Bailey High School                         80.945643
Cabrera High School                        83.788382
Figueroa High School                       80.640339
Ford High School                           80.403642
Griffin High School                        84.288089
Hernandez High School                      81.396140
Holden High School                         83.815534
Huang High School                          81.417476
Johnson High School                        80.616027
Pena High School                           84.335938
Rodriguez High School                      80.864811
Shelton High School                        84.373786
Thomas High School                         83.585542
Wilson High School                         83.764608
Wright High School                         84.156322

                       12th grade avg reading scores
school_name
Bailey High School                         80.912451
Cabrera High School                        84.287958
Figueroa High School                       81.384863
Ford High School                           80.662338
Griffin High School                        84.013699
Hernandez High School                      80.857143
Holden High School                         84.698795
Huang High School                          80.305983
Johnson High School                        81.227564
Pena High School                           84.591160
Rodriguez High School                      80.376426
Shelton High School                        82.781671
Thomas High School                         83.831361
Wilson High School                         84.317673
Wright High School                         84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [117]:
spending_data = school_data_complete[["budget", "math_score", "reading_score", "school_name", "student_name"]]

#spending_bins = [0 - 600/ 600 - 625/ 625 - 650/ 650 - 675]

spending1 = summary_by_schoolDF.loc[summary_by_schoolDF["budget/student"] <= 600]
spending2 = summary_by_schoolDF.loc[(summary_by_schoolDF["budget/student"] > 600) & (summary_by_schoolDF["budget/student"] <= 625)]
spending3 = summary_by_schoolDF.loc[(summary_by_schoolDF["budget/student"] > 625) & (summary_by_schoolDF["budget/student"] <= 650)]
spending4 = summary_by_schoolDF.loc[(summary_by_schoolDF["budget/student"] > 650) & (summary_by_schoolDF["budget/student"] <= 675)]

spending1 = spending1.drop(columns={"type", "budget", "total students"})
spending2 = spending2.drop(columns={"type", "budget", "total students"})
spending3 = spending3.drop(columns={"type", "budget", "total students"})
spending4 = spending4.drop(columns={"type", "budget", "total students"})

spendingDF = pd.merge(spending1,spending2, "outer", left_on="school_name", right_index=True)
spendingDF = spendingDF.rename(columns={"budget/student_x":"<=$600/student","Average Math Score_x":"Average math:<=$600",
                                        "Average Reading Score_x":"Average reading <=$600", "% passed math_x":"%passed math <=600",
                                        "% passed reading_x":"%passed reading <=600",  "% passed both_x":"%passed both <=600",
                                        "budget/student_y":"$600-625/student", "Average Math Score_y":"$600-625 Avg math score",
                                        "Average Reading Score_y":"$600-625 Avg reading score", "% passed math_y":"%passed math 600-625",
                                        "% passed reading_y":"%passed reading 600-625", "% passed both_y": "%passed both 600-625"})
spendingDF = spendingDF.merge(spending3, "outer", left_on="school_name", right_index=True)
spendingDF = spendingDF.rename(columns={"budget/student":"$625-650/student","Average Math Score":"Average math:$625-650",
                                        "Average Reading Score":"Average reading $625-650", "% passed math":"%passed math 625-650",
                                        "% passed reading":"%passed reading 625-650",  "% passed both":"%passed both 625-650"})
spendingDF = spendingDF.merge(spending4, "outer", left_on="school_name", right_index=True)
spendingDF = spendingDF.rename(columns={"budget/student":"$650-675/student","Average Math Score":"Average math:$650-675",
                                        "Average Reading Score":"Average reading $650-675", "% passed math":"%passed math 650-675",
                                        "% passed reading":"%passed reading 650-675",  "% passed both":"%passed both 650-675"})

print(spendingDF)

                               school_name <=$600/student  \
Cabrera High School    Cabrera High School        [582.0]
Holden High School      Holden High School        [581.0]
Shelton High School    Shelton High School        [600.0]
Wilson High School      Wilson High School        [578.0]
Wright High School      Wright High School        [583.0]
NaN                    Griffin High School            NaN
NaN                       Pena High School            NaN
NaN                     Bailey High School            NaN
NaN                   Figueroa High School            NaN
NaN                       Ford High School            NaN
NaN                    Johnson High School            NaN
NaN                  Rodriguez High School            NaN
NaN                     Thomas High School            NaN
NaN                  Hernandez High School            NaN
NaN                      Huang High School            NaN

                     Average math:<=$600  Average reading <=$600  \
Cabrera High School            83.061895               83.975780
Holden High School             83.803279               83.814988
Shelton High School            83.359455               83.725724
Wilson High School             83.274201               83.989488
Wright High School             83.682222               83.955000
NaN                                  NaN                     NaN
NaN                                  NaN                     NaN
NaN                                  NaN                     NaN
NaN                                  NaN                     NaN
NaN                                  NaN                     NaN
NaN                                  NaN                     NaN
NaN                                  NaN                     NaN
NaN                                  NaN                     NaN
NaN                                  NaN                     NaN
NaN                                  NaN                     NaN

                     %passed math <=600  %passed reading <=600  \
Cabrera High School           89.558665              93.864370
Holden High School            90.632319              92.740047
Shelton High School           89.892107              92.617831
Wilson High School            90.932983              93.254490
Wright High School            90.277778              93.444444
NaN                                 NaN                    NaN
NaN                                 NaN                    NaN
NaN                                 NaN                    NaN
NaN                                 NaN                    NaN
NaN                                 NaN                    NaN
NaN                                 NaN                    NaN
NaN                                 NaN                    NaN
NaN                                 NaN                    NaN
NaN                                 NaN                    NaN
NaN                                 NaN                    NaN

                     %passed both <=600 $600-625/student  \
Cabrera High School           91.711518              NaN
Holden High School            91.686183              NaN
Shelton High School           91.254969              NaN
Wilson High School            92.093736              NaN
Wright High School            91.861111              NaN
NaN                                 NaN          [625.0]
NaN                                 NaN          [609.0]
NaN                                 NaN              NaN
NaN                                 NaN              NaN
NaN                                 NaN              NaN
NaN                                 NaN              NaN
NaN                                 NaN              NaN
NaN                                 NaN              NaN
NaN                                 NaN              NaN
NaN                                 NaN              NaN

                     $600-625 Avg math score  $600-625 Avg reading score  ...  \
Cabrera High School                      NaN                         NaN  ...
Holden High School                       NaN                         NaN  ...
Shelton High School                      NaN                         NaN  ...
Wilson High School                       NaN                         NaN  ...
Wright High School                       NaN                         NaN  ...
NaN                                83.351499                   83.816757  ...
NaN                                83.839917                   84.044699  ...
NaN                                      NaN                         NaN  ...
NaN                                      NaN                         NaN  ...
NaN                                      NaN                         NaN  ...
NaN                                      NaN                         NaN  ...
NaN                                      NaN                         NaN  ...
NaN                                      NaN                         NaN  ...
NaN                                      NaN                         NaN  ...
NaN                                      NaN                         NaN  ...

                     Average reading $625-650  %passed math 625-650  \
Cabrera High School                       NaN                   NaN
Holden High School                        NaN                   NaN
Shelton High School                       NaN                   NaN
Wilson High School                        NaN                   NaN
Wright High School                        NaN                   NaN
NaN                                       NaN                   NaN
NaN                                       NaN                   NaN
NaN                                 81.033963             64.630225
NaN                                 81.158020             63.750424
NaN                                 80.746258             65.753925
NaN                                 80.966394             63.852132
NaN                                 80.744686             64.066017
NaN                                 83.848930             90.214067
NaN                                       NaN                   NaN
NaN                                       NaN                   NaN

                     %passed reading 625-650 %passed both 625-650  \
Cabrera High School                      NaN                  NaN
Holden High School                       NaN                  NaN
Shelton High School                      NaN                  NaN
Wilson High School                       NaN                  NaN
Wright High School                       NaN                  NaN
NaN                                      NaN                  NaN
NaN                                      NaN                  NaN
NaN                                79.300643            71.965434
NaN                                78.433367            71.091896
NaN                                77.510040            71.631982
NaN                                78.281874            71.067003
NaN                                77.744436            70.905226
NaN                                92.905199            91.559633
NaN                                      NaN                  NaN
NaN                                      NaN                  NaN

                     $650-675/student  Average math:$650-675  \
Cabrera High School               NaN                    NaN
Holden High School                NaN                    NaN
Shelton High School               NaN                    NaN
Wilson High School                NaN                    NaN
Wright High School                NaN                    NaN
NaN                               NaN                    NaN
NaN                               NaN                    NaN
NaN                               NaN                    NaN
NaN                               NaN                    NaN
NaN                               NaN                    NaN
NaN                               NaN                    NaN
NaN                               NaN                    NaN
NaN                               NaN                    NaN
NaN                           [652.0]              77.289752
NaN                           [655.0]              76.629414

                     Average reading $650-675  %passed math 650-675  \
Cabrera High School                       NaN                   NaN
Holden High School                        NaN                   NaN
Shelton High School                       NaN                   NaN
Wilson High School                        NaN                   NaN
Wright High School                        NaN                   NaN
NaN                                       NaN                   NaN
NaN                                       NaN                   NaN
NaN                                       NaN                   NaN
NaN                                       NaN                   NaN
NaN                                       NaN                   NaN
NaN                                       NaN                   NaN
NaN                                       NaN                   NaN
NaN                                       NaN                   NaN
NaN                                 80.934412             64.746494
NaN                                 81.182722             63.318478

                     %passed reading 650-675 %passed both 650-675
Cabrera High School                      NaN                  NaN
Holden High School                       NaN                  NaN
Shelton High School                      NaN                  NaN
Wilson High School                       NaN                  NaN
Wright High School                       NaN                  NaN
NaN                                      NaN                  NaN
NaN                                      NaN                  NaN
NaN                                      NaN                  NaN
NaN                                      NaN                  NaN
NaN                                      NaN                  NaN
NaN                                      NaN                  NaN
NaN                                      NaN                  NaN
NaN                                      NaN                  NaN
NaN                                78.187702            71.467098
NaN                                78.813850            71.066164

[15 rows x 25 columns]

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type

In [118]:
typedata = school_data_complete[["type", "math_score", "reading_score"]]
charter = typedata.loc[typedata["type"] == "Charter"]
district =typedata.loc[typedata["type"] == "District"]
districtgroup = district.groupby("type")
chartergroup = charter.groupby("type")
district_avg_math = districtgroup["math_score"].mean()
district_avg_read = districtgroup["reading_score"].mean()
charter_avg_math = chartergroup["math_score"].mean()
charter_avg_reading = chartergroup["reading_score"].mean()

charter_reading_size = chartergroup["reading_score"].count()
district_reading_size = districtgroup["reading_score"].count()
charter_math_size = chartergroup["math_score"].count()
district_math_size = districtgroup["math_score"].count()

chartertype_reading_passed = typedata.loc[(typedata["reading_score"] >= 70) & (typedata["type"] == "Charter")]

chartertype_reading_passed = chartertype_reading_passed.drop("math_score", axis=1).drop("type",axis=1).size
districtypr_reading_passed = typedata.loc[(typedata["reading_score"] >= 70) & (typedata["type"] == "District")]
districtypr_reading_passed = districtypr_reading_passed.drop("math_score", axis=1).drop("type",axis=1).size

charter_reading_passed = (chartertype_reading_passed/charter_reading_size)*100
district_reading_passed = (districtypr_reading_passed/district_reading_size)*100

districttype_math = typedata.loc[(typedata["math_score"] >= 70) & (typedata["type"] == "District")]
districttype_math= districttype_math.drop_duplicates().drop("reading_score", axis=1).drop("type",axis=1).size

Chartertype_math = typedata.loc[(typedata["math_score"] >= 70) & (typedata["type"] == "Charter")]
Chartertype_math = Chartertype_math.drop_duplicates().drop("reading_score",axis=1).drop("type",axis=1).size
charter_math_passed = (Chartertype_math/charter_math_size)*100
district_math_passed = (districttype_math/district_math_size)*100

chartertype_all_passed = typedata.loc[(typedata["reading_score"] >= 70) & (typedata["math_score"] >= 70) & (typedata["type"] == "Charter")]
districttype_all_passed = typedata.loc[(typedata["reading_score"] >= 70) & (typedata["math_score"] >= 70) & (typedata["type"] == "District")]
chartertype_all_passed = chartertype_all_passed.drop("type",axis=1).drop("reading_score",axis=1).size
districttype_all_passed = districttype_all_passed.drop("type",axis=1).drop("reading_score",axis=1).size
chartertype_all_passed_percent = (chartertype_all_passed/charter_reading_size)*100
districttype_all_passed_percent = (districttype_all_passed/district_reading_size)*100


typeDF = pd.merge(district_avg_read, district_avg_math, "outer", left_on="type", right_index=True)

typeDF = typeDF.merge(district_reading_passed.rename("reading percent"), "outer" ,on="type")
typeDF = typeDF.merge(district_math_passed.rename("math percent"), "outer", on="type")
typeDF = typeDF.merge(districttype_all_passed_percent.rename("Overall percent"),"outer",on="type")


typeDF1 = pd.merge(charter_avg_reading, charter_avg_math, "outer", left_on="type", right_index=True)

typeDF1 = typeDF1.merge(charter_reading_passed.rename("reading percent"), "outer" ,on="type")
typeDF1 = typeDF1.merge(charter_math_passed.rename("math percent"), "outer", on="type")
typeDF1 = typeDF1.merge(chartertype_all_passed_percent.rename("Overall percent"),"outer",on="type")

typeDF2 = pd.concat([typeDF,typeDF1], axis=1)

# typeDF = typeDF.merge(charter_reading_passed, "outer")
# typeDF = typeDF.merge(charter_math_passed, "outer")
# typeDF = typeDF.merge(chartertype_all_passed_percent, "outer")
print(typeDF2)

          reading_score  math_score  reading percent  math percent  \
District      80.962485   76.987026        80.905249      4.114769
Charter             NaN         NaN              NaN           NaN

          Overall percent  reading_score  math_score  reading percent  \
District        53.695878            NaN         NaN              NaN
Charter               NaN      83.902821   83.406183        96.645891

          math percent  Overall percent
District           NaN              NaN
Charter       7.626702        90.560932

In [119]:


#